{{ template "header.gohtml" . }}

{{ template "navbar.gohtml" }}

<main class="my-auto p-5">

    <div class="text-center py-5">
        <h1 class="display-1">404</h1>
        <h2>Страница не существует.</h2>
    </div>

</main>

{{ template "statusbar.gohtml" . }}

{{ template "footer.gohtml" . }}
