{{ template "header.gohtml" . }}

<main class="my-auto p-5">

    <div class="text-center py-5">
        <h1 class="display-1">500</h1>
        <h2>Произошла ошибка сервера.</h2>
    </div>

</main>

{{ template "footer.gohtml" . }}
